body {
	position: relative; 
	background-color: #E3E3E3;
	margin: 0;
}
#firstLine {
	background-color: #0F3C47;
	height: 120px;
	box-shadow: 0px 0px 30px 3px rgba(1, 41, 66, 1);
}
#secondLine {
	height: 850px;
	margin-top: 120px;
	background-color: #A1A1A1;
	box-shadow: 0px 0px 30px 3px rgba(137, 137, 137, 1);
}
.line {
	margin-left: 35%;
	position: absolute;
	width: 1px;
	z-index: 10;
}

header {
	display: block;
	background: #1F6171;
	height: 120px;
}

#headerText {
	margin-right: 100px;
	float: right;
	margin-top: 2em;
	display: inline;
}

#headerText h1{
	cursor: pointer;
	text-shadow: 0px 1px 1px #4d4d4d;
	font: 65px 'LeagueGothicRegular';
	color: #E3E3E3;
	margin: auto;
}

nav {
	display: block;
	padding-left: 50px;
	padding-top: 70px;
}

nav ul li {
	display: inline-block;
	position: relative;
	color: #53dbd9;
	padding: 8px 20px;
	cursor: pointer;
}

.menu-true {
	background-color: #E3E3E3;
	color: black;
}
aside {
	display: block;
	float: left;
	width: 35%;
	height: 500px;
}

#search {
	width: 70%;
	height: 80px;
	margin-top: 10px;
	margin-left: 15%;
}

#signin {
	width: 70%;
	height: 80px;
	margin-top: 10px;
	margin-left: 15%;
}

#category {
	width: 70%;
	height: 80px;
	margin-top: 10px;
	margin-left: 15%;
}
article {
	display: block;
	float: right;
	width: 65%;
	height: 500px;
}

#news {
	width: 70%;
	height: 400px;
	margin-left: 15%;
	margin-top: 50px;;
}

footer {
	display: block;
}
