body {
	position: relative; 
	background-color: #E3E3E3;
	margin: 0;
}

#lineOfHeader {
	background-color: #0F3C47;
	height: 120px;
	box-shadow: 0px 0px 30px 3px rgba(1, 41, 66, 1);
}

#lineOfBody {
	height: 850px;
	margin-top: 120px;
	background-color: #A1A1A1;
	box-shadow: 0px 0px 30px 3px rgba(137, 137, 137, 1);
}

.line {
	margin-left: 484px;
	position: absolute;
	width: 1px;
	z-index: 10;
}

header {
	display: block;
	background: #1F6171;
	height: 120px;
}

#headerText {
	margin-right: 100px;
	float: right;
	margin-top: 2em;
	display: inline;
}

#headerText h1{
	cursor: pointer;
	text-shadow: 0px 1px 1px #4d4d4d;
	font: 65px 'LeagueGothicRegular';
	color: #E3E3E3;
	margin: auto;
}

nav {
	display: block;
	padding-left: 50px;
	padding-top: 70px;
	width: 400px;
}

nav ul li {
	display: inline-block;
	position: relative;
	color: #53dbd9;
	text-align: center;
	padding: 8px 10px;
	width: 70px;
	cursor: pointer;
}

.menu-true {
	background-color: #E3E3E3;
	color: black;
}

#login {
	cursor: pointer;
	width: 165px;
	display: block;
	height: 80px;
	margin-left: 600px;
	margin-top: -9%;
	background-color: rgba(99, 151, 167, 0.39);
}

#login span {
	margin-top: 32px;
	display: inline-block;
	margin-left: 10px;
}

#login img {
	margin-top: 10px;
	position: absolute;
}

aside {
	display: block;
	float: left;
	width: 484px;
}

section {
	border: 1px solid rgb(178, 181, 182);
	background-color: rgba(206, 206, 206, 0.51);
	box-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

aside section {
	margin-top: 10%;
	width: 70%;
	margin-left: 15%;
	padding-left: 2%;
	padding-bottom: 5%;
}

#letters span {
margin-right: 6%;
margin-top: 5%;
cursor: pointer;
}

#category li {
	cursor: pointer;
}

article {
	display: block;
	float: right;
	width: 897px;
	height: 1000px;
}
article section {
	width: 70%;
	height: 300px;
	margin-left: 15%;
	margin-top: 50px;
}

footer {
	display: inline-block;
	width: 100%;
	height: 300px;
	background-color: #3F3F3F;
	margin-top: 10px;
}


