<link rel="stylesheet" type="text/css" href="css/search.css">

<form id="searchForm" ng-submit="runSearch()" ng-controller="searchCtrl">
	<input type="text" ng-model="searchText">
	<input type="submit" value="Search" id="runSearchBtn"><br>
	<input type="radio" name="type" ng-model="url" value="http://localhost/src/book.html?callback=JSON_CALLBACK">Book 
	<input type="radio" name="type" ng-model="url" value="http://localhost/src/author.html?callback=JSON_CALLBACK">Author
	<div>{{searchText}}</div>
	<div>{{data}}</div>
</form>