<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<title>Library!</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/search.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
</head>


<body ng-controller="menuCtrl" ng-init="categoryListRequest()">
	<div id="lineOfHeader"  class="line"></div>
	<div id="lineOfBody" class="line"></div>
	<div id="lineOfFooter"></div>
	<header>
		<div id="headerText">
			<h1 ng-click="homeClick()">Library</h1>
		</div>
		<nav>
			<ul>
				<li class="menu-{{menuList.home}}" ng-click="homeClick()">Home</li>
				<li class="menu-{{menuList.contact}}" ng-click="contactClick()">Contact</li>
				<li class="menu-{{menuList.aboutAs}}" ng-click="aboutAsClick()">About us</li>
			</ul>
		</nav>
		<div id="login" ng-click="addUserClick()">
			<span>Login/Registry</span>
			<img src="images/user.png">
		</div>
	</header>

	<aside>
		<section id="search">
			<form id="searchForm" ng-submit="searchRequest(); searchBtnClick()">
				<input type="text" ng-model="searchingText">
				<input type="submit" value="Search" id="runSearchBtn"><br>
				<input type="radio" name="type" ng-model="searchSort" value="/bookSearch?">Book 
				<input type="radio" name="type" ng-model="searchSort" value="/authorSearch?">Author
			</form>
		</section>
			
		<section id="category">
			<h2>Category</h2>
			<div ng-repeat='category in categories'>
				<li ng-click="categoryRequest($index)">{{category}}</li>
			</div>
		</section>

		<section id="letters">
			<h2>Letters</h2>
			<span ng-repeat='letter in letters'>
				<span>{{letter}}</span>
			</span>
		</section>

	</aside>

	<article>
		<section id="news">
			<ng-include src="getPath()">
			</ng-include>
		</section>
	</article>
	<footer></footer>
	<script src="js/menu.js"></script>
</body>
</html>
