<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Library!</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
</head>

<body  ng-app="app" ng-controller="AppCtrl as app">
	<div id="firstLine"  class="line"></div>
	<div id="secondLine" class="line"></div>
	<header>
		<div id="headerText">
			<h1>Library</h1>
		</div>
		<nav>
			<ul ng-controller="menuCtrl">
				<li class="menu-{{menuList.home}}" ng-click="homeClick()">Home</li>
				<li class="menu-{{menuList.contact}}" ng-click="contactClick()">Contact</li>
				<li class="menu-{{menuList.aboutAs}}" ng-click="aboutAsClick()"><a>About us</a></li>
			</ul>
		</nav>
		<div id="login">
			<span>Login/Sign up</span>
			<img src="images/user.png">
		</div>
	</header>

	<aside>
		<section id="search">
			<form>
				<input type="text">
				<input type="submit">
			</form>
		</section>
		
		<section id="signin">
			<a ng-click="subPage='#/contact.html'">Sign In</a>
		</section>
		
		<section id="category">
			<h2>Category!</h2>
		</section>


	</aside>

	<article>
		<section id="news">
			<h2>News</h2>
			<ng-include src="subPage">
			Hey</ng-include>
		</section>
	</article>
	<footer><h3>footer</h3></footer>
	<script src="js/menu.js"></script>
</body>
</html>