<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl as app">
<head>
	<meta charset="utf-8">
	<title>Library!</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
</head>

<body ng-controller="menuCtrl">
	<div id="firstLine"  class="line"></div>
	<div id="secondLine" class="line"></div>
	<header>
		<div id="headerText">
			<h1>Library</h1>
		</div>
		<nav>
			<ul>
				<li class="menu-{{menuList.home}}" ng-click="homeClick()"><a ng-click="subPage='page/news.html'">Home</a></li>
				<li class="menu-{{menuList.contact}}" ng-click="contactClick()"><a ng-click="subPage='page/contact.html'">Contact</a></li>
				<li class="menu-{{menuList.aboutAs}}" ng-click="aboutAsClick()"><a ng-click="subPage='page/aboutAs.html'">About us</a></li>
			</ul>
		</nav>
		<div id="login">
			<span>Login/Registry</span>
			<img src="images/user.png">
		</div>
	</header>

	<aside>
		<section id="search">
			<form>
				<input type="text">
				<input type="submit" value="Search">
			</form>
		</section>
			
		<section id="category">
			<h2>Category!</h2>
		</section>


	</aside>

	<article>
		<section id="news">
			<ng-include src="subPage">
			</ng-include>
		</section>
	</article>
	<footer><h3>footer</h3></footer>
	<script src="js/menu.js"></script>
	<script src="js/request.js"></script>
</body>
</html>